<!DOCTYPE html>
<html lang="en">

<head>
  <title>DCC - Dream Care Cosmetics, Hair Oil, Pain Relief Oil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Dream Care Cosmetics Hair Oil, Pain Relief Oil">
  <meta name="keywords" content="Hair Oil, Cosmetics, and FMCG Products">
  <meta name="author" content="">

  

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body id="page-top">
<div id="content">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger text-capitalize" href="#page-top"><img src="img/logo.png"/></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#products">Products</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#ref">Affiliat/Referral</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#buy">Sign In</a>
          </li>           
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">Dream Care</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Solution</h2>
        <!--<a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>-->
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Sustainable and Nature Friendly</h2>
          <p class="text-white-50">Herbal hair oil has been a trusted beauty secret for centuries, known for its nourishing and revitalizing properties. Here's a short note highlighting the benefits of using herbal hair oil: Herbal hair oil is a natural blend of potent herbs, botanical extracts, and essential oils that are specifically formulated to promote healthy hair and scalp. It offers a range of benefits, including
          Nourishment and Hydration, Stimulates Hair Growth, Reduces Scalp Issues and Strengthens and Conditions.</p>
        </div>
      </div>
      <img src="img/vision.png" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Our Story</h4>
            <p class="text-black-50 mb-0">Customer are soul and Employees are the backbone of the company. The reason behind our success is the consistent team work and strong support of our loyal client base. The company has to its credit many mega projects, which it has executed successfully on time.The company has passionate researchers and technicians with vast experience in the related &#64257;eld. The essence of 
			success begins with our associates. We have a team Of talented, enthusiastic and 
			confident professionals who take pride in the quality of their work and the timely delivery of those quality services, regardless of complexity or geography. Among our important values, trust and reliability is of utmost importance and we earn that trust from companies every day by being dependable and delivering on our promises. We are focused using keen judgment to problem solve in the safest manner possible and provide unmatched expertise and experience in every job we do. </p><p>Together with our business associates and our esteemed clients, we are sure we will take our 
			  organization to greater heights</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="products" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Products</h2>
          <p class="text-white-50"></p>
        </div>
      </div>
    </div>
  </section>
  <section class="projects-section bg-light">
    <div class="container">
      <h4>Zorich Hair Oil</h4>
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0" id="residential">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/Zorich.png" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h5 class="text-white">Zorich Hair Oil</h5>
                <p class="mb-0 text-white-50">Stops Hair Fall, Grow Natural Hair, and Stops Dandruf.</p>
                <br>
                <br>                
                <a href="#buy"><button class="btn btn-primary">Click to Buy</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <h4>ZORUMA</h4>
      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters" id="commercial">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/zoruma.png" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">ZORUMA</h4>
                <p class="mb-0 text-white-50">Pain Relieving Oil.</p>
                <br>
                <br>                
                <a href="#buy"><button class="btn btn-primary">Click to Buy</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>      
</section>
<section id="ref" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Affiliat/Referral</h2>
        <p class="text-white-50"></p>
      </div>
    </div>
  </div>
</section>
<section id="" class="projects-section bg-light">
  <div class="container">               
    <div class="row">
      <div class="col">
        <h4>Referal Benefits</h4>
        <p>Just refer a person to use the product.</p>
        <ul>
          <li>You earn Rs 200/  instant </li>
          <li>Purchase one product then you get Rs100/ every month for 12 months (Rs100*12month=Rs 1200 only).</li>
        </ul>
        <p>You avail level Income:</p>
        <ul>
          <li>1st level Rs 20/-</li>
          <li>2nd level Rs 10/-</li>
          <li>3rd level Rs 5/-</li>
          <li>4th level Rs 2/-</li>
        </ul>
        <p>Reward:</p>
        <ul>
          <li>Rs. 5000 reward on direct sell of 50pcs of product within 30 days.</li>
          
        </ul>
        <p>Conditions:</p>
        <ul>
          <li>Minimum Withdrawl Rs. 500 and Maximum Withdrawal Rs. 5000 per day.</li>          
          <li>10% charges on Withdrawal Amount</li>          
          <li>50 ID in one phone no.</li>          
          <li>Saturday and Sunday withdrawal closed</li>
        </ul>
      </div>
    </div>
</div>
</section>    
<section id="buy" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Buy</h2>
          <p class="text-white-50"></p>
        </div>
      </div>
    </div>
  </section>
<section id="" class="projects-section bg-light">
    <div class="container">               
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <h3>Sign In</h3>
            </div>
            <form accept="" class="shadow p-4" action="reg.php" method="post">                  
              <div class="mb-3">
                <label for="name">Sponsor ID</label>
                <input type="text" class="form-control" name="sname" id="sname" v-model="enspcode" placeholder="1-22-2023" @keyup="getspcode()">
                <p>{{spname}}</p>
                <input type="hidden" name="sp_id" id="sp_id"/>
            </div>

              <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
                <div class="mb-3">
                  <label for="village">City/Village</label>
                  <input type="text" class="form-control" name="village" id="Village" placeholder="Village/City" required>
                </div>
                <div class="mb-3">
                  <label for="state">State</label>
                  <select class="form-control" name="" v-model="scode">
                    <option v-bind:value="statec.STCode" v-for="statec in StateCodes">{{statec.StateName}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="pin">PIN Code</label>
                  <input type="text" class="form-control" name="pin" id="pin" placeholder="PIN Code" required>
                </div>
                <!--<div class="mb-3">
                  <label for="pin">Email ID</label>
                  <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Email ID">
                </div>-->
                <div class="mb-3">
                  <label for="pin">Contact No</label>
                  <input type="text" class="form-control" name="mobileno" id="mobileno" placeholder="Mobile No" required>
                </div>
                <!--<div class="mb-3">
                  <label for="pin">Aadhar/PAN</label>
                  <input type="text" class="form-control" name="panno" id="panno" placeholder="Aadhar" required>
                </div>
                <div class="mb-3">
                  <label for="pin">Bank A/c</label>
                  <input type="text" class="form-control" name="bankac" id="bankac" placeholder="Bank A/c" required>
                </div>
                <div class="mb-3">
                  <label for="pin">IFSC</label>
                  <input type="text" class="form-control" name="ifsc" id="ifsc" placeholder="IFSC" required>
                </div>-->
                <div class="mb-3">
                  <label for="pin">Select Product</label>
                  <select class="form-control" name="products" id="product">
                    <option value="Zorich">Zorich</option>
                    <option value="Zorum">Zoruma</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="pin">Product Cost</label>
                  <input type="text" class="form-control" name="product_cost" id="product_cost" placeholder="Product Cost" value="Rs. 1000">
                </div>
                <div class="mb-3">
                  <label for="pin">Freight</label>
                  <input type="text" class="form-control" name="frieght" id="frieght" placeholder="Freight" value="Rs.50">
                </div>
                <div class="mb-3">
                  <label for="pin">Total Cost</label>
                  <input type="text" class="form-control" name="total" id="total" placeholder="Rs. 1050">
                </div>
                <label class="mb-3">
                    <input type="checkbox" name="RememberMe"> Understood the Terms and Conditions
                </label>
                <div class="mb-3">
                  <label for="pin">Payment QR Code</label>
                  <div>
                    <img src="img/qr2.png" alt="QR Code"/>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="pin">Transaction ID</label>
                  <input type="text" class="form-control" name="txid" id="txid" placeholder="UTR No" required="true">
                </div>
                <!--<a href="#" class="float-end text-decoration-none">Reset Password</a>-->

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </div>

                <hr>

                <!--<p class="text-center mb-0">If you have not account <a href="#">Register Now</a></p>-->
                
            </form>
        </div>
    </div>

	</div>
</section>    
<section id="login" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Login</h2>
        <p class="text-white-50"></p>
      </div>
    </div>
  </div>
</section>
<section id="" class="projects-section bg-light">
  <div class="container" id="loginapp">               
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="mb-3">
              <h3>Login</h3>
          </div>
          <form class="shadow p-4" @submit.prevent="testlogin">                  
              <div class="mb-3">
                  <label for="name">User ID [Member Code]</label>
                  <input type="text" class="form-control" name="userid" id="userid" placeholder="User ID" v-model="username">
              </div>

              <div class="mb-3">
                  <label for="address">Password</label>
                  <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" v-model="password">
              </div>
              
              <div class="mb-3">
                  <button type="submit" class="btn btn-primary" >Login</button>
              </div>

              <hr>

              <!--<p class="text-center mb-0">If you have not account <a href="#">Register Now</a></p>-->
              
          </form>
      </div>
  </div>

</div>
</section>    

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">CORPORATE OFFICE</h4>
              <hr class="my-4">
              <div class="small text-black-50">Dream Care Solution</div>
              <div class="small text-black-50">B07, Chandaka Meadows,</div> 
              <div class="small text-black-50">Bhubaneswar - 754012</div>                           
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">dreamcaresolution@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">              
              <div class="small text-black-50">9437120198</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Dream Care Solution
    </div>
  </footer>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>
  <script>
    var app=new Vue({
      el:'#content',
      data:{
        StateCodes:"",
        scode:"",
        username: '',
        password: '',
        enspcode:'',
        spname:'Sponsor Name',
      },
      mounted:function(){
                    axios.post('gtstatecode.php')
                            .then(function(response){
                                app.StateCodes=response.data;                                
                            })
                            .catch(function(error){ alert(error);})
                },
      methods:{
        saveform:function(){
          if(this.scode==""){
            alert("Please Select State");
            return false;
          }
        },
        getspcode:function(){
          fetch('findspcode.php', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    usercode: app.enspcode                    
                }),
            })
            .then(response => response.json())
            .then(data => {        
                    this.spname = data.success;                                                        
                    document.getElementById('sp_id').value=data.memid;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        },
        testlogin:function() {            
            fetch('login.php', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: this.username,
                    password: this.password,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Login successful!');
                    localStorage.setItem('loginstatus', '1');
                    localStorage.setItem('uid', this.username);
                    localStorage.setItem('ulsid',this.username)
                    document.location.assign('user/');
                    // Redirect to a dashboard or homepage here
                } else {
                    alert('Login failed. Please check your credentials.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
      }
              
    });
  </script>
 
</body>

</html>
